.container {
    width: 95%;
    margin: 0 auto;
    max-width: 1200px;
}

.navbar {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}

.navbar .cart {
    padding: 5px;
    border-radius: 3px;
}

.navbar .cart:hover {
    background-color: #ffde8c9d;
}

.navbar .cart:hover i {
    color: #fdbc18;
}

.navbar i {
    font-size: 22px;
}
